.screen {
  flex-basis: 15%;
  margin: 5px 10px 10px 10px;
  border-top: 3px solid rgb(63, 105, 96);
  border-left: 3px solid rgb(63, 105, 96);
  border-radius: 5px;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  background-color: rgb(102, 151, 140);
  text-align: end;
  font-size: 30px;
  overflow: hidden;
}

.screen .screenUp {
  display: flex;
  justify-content: flex-end;
  height: calc(550px * 0.15 * 0.3);
  line-height: calc(550px * 0.15 * 0.3);
  font-size: 20px;
}
.screen .screenDown {
  display: flex;
  justify-content: flex-end;
  height: calc(550px * 0.15 * 0.7 -3px);
  line-height: calc(550px * 0.15 * 0.7);
  font-size: 36px;
}
